<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt"> <!-- Cambia esta ruta si es necesario -->

    <!-- Define los destinos (targets) para los logs -->
    <targets>
        <!-- Escribe logs a la consola -->
        <target name="logconsole" xsi:type="Console" />
        <!-- Opcional: Escribe logs a un archivo -->
        <!--
        <target name="logfile" xsi:type="File"
                fileName="${basedir}/logs/${shortdate}.log"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
        -->
    </targets>

    <!-- Define las reglas para enrutar los logs a los targets -->
    <rules>
        <!-- Todos los logs con nivel Debug o superior van a la consola -->
        <logger name="*" minlevel="Debug" writeTo="logconsole" />
        <!-- Opcional: Todos los logs con nivel Debug o superior van al archivo -->
        <!-- <logger name="*" minlevel="Debug" writeTo="logfile" /> -->
    </rules>
</nlog>
